<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/landing_style.css' />
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <!-- icon -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <!-- font -->
        <link href="https://fonts.googleapis.com/css?family=Exo|Gloria+Hallelujah|Kumar+One|Orbitron|Play|Poiret+One|Space+Mono" rel="stylesheet">
    </head>
    <body>
    <!-- style="background-color:#FFD382;padding:10px;margin-bottom:5px;" -->

            

            <% if (locals.user) { %>
            <div class = "mid-section-2">
            

            <div class = "top-bar">
                <h1><%= title %></h1>
            </div>

            

                <div class = "room-friend">
                    <div class = "side-bar" id = "style-1">
                        <div class = "profile-photo" style = "background-image: url(/<%= locals.user.username %>.jpg)">
                        </div>
                        <h4><%= locals.user.username %></h4>

                        
                        
                        <div class="room-list" id="roomlist"></div>

                        
                        <button id="word" class="create-room-btn" onclick="createroom()">Create room</button>
                        <button id="word" class="create-room-btn" onclick="createProom()">Create Secret</button>
                        <button id="word" class="create-room-btn" onclick="location.href='/logout'">Logout</button>
                    </div>

                    <div class = "friend-bar">
                        <h1>Friends</h1>
                        <div id="friendlist"></div>
                        <button id="word" class="delete-friend-btn" onclick="addFriend()">Add Friend</button>
                        <button class="delete-friend-btn" onclick="deleteFriend()">Delete Friend</button>
                    </div>
                </div>

            

            
            </div>

            <% } else { %>
            <div class = "mid-section">
            <div class = "color-overlay">
            <div class = "top-bar">
                <h1><%= title %></h1>
                
                <button id="word" class="login-btn" type="submit" onclick="location.href='/login'">Login</button>
                <button id="word" class="login-btn" type="submit" onclick="location.href='/register'">Register</button>

            </div>
                <div class = "description">
            <h1>Talk with friends and have fun!</h1>
                <p>
                    Your delighted public matures next to a climate. A courier swings! How does the normal squad result before the complaint? The right cricket rails. Your delighted public matures next to a climate. How can your mountain poem reserve our stuck defeated? The obstruction strikes under an abstract! The mint confuses a chamber near the trusting moron. A naive asset frowns. Can the chap gasp beneath the unconnected soil? Why won't the assumed pedestrian fuss past a garden?
                </p>
                <nav>
                    <a href="#qq" style="text-decoration:none">About us</a>
                    <a href="#project">FAQ</a>
                    <a href="#testimonial">How to</a>
                    <a href="#contact">Contact us</a>
                </nav>
            </div>

            </div>
            </div>
            <% } %>




        <script type="text/javascript" src="./jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="./index.js"></script>
    </body>
</html>
